<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEcOSXYVnSAAmFhVajwYfBP6FAvfylvig</string>
	<key>GCM_SENDER_ID</key>
	<string>497141327674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dueasy.app</string>
	<key>PROJECT_ID</key>
	<string>dueasy-3a76a</string>
	<key>STORAGE_BUCKET</key>
	<string>dueasy-3a76a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497141327674:ios:ca28199197bcc85a3dd203</string>
</dict>
</plist>