# Compiled JavaScript files
**/*.js.map

# Node modules
node_modules/

# Firebase cache
.firebase/

# Firebase debug logs
firebase-debug.log
firebase-debug.*.log

# Environment files
.env
.env.local
.runtimeconfig.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/
